<table class="center">
    <thead>
        <tr>
            <th class="point" *ngFor="let header of headerList" [appSort]="dataList" scope="col" 
            data-order="default" [attr.data-name]="header" (resetEvent)="resetData()">
                {{ header | uppercase }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of dataList">
            <td>{{ data.name }}</td>
            <td>{{ data.class }}</td>
            <td>{{ data.section }}</td>
            <td>{{ data.sub1 }}</td>
            <td>{{ data.sub2 }}</td>
            <td>{{ data.sub3 }}</td>
        </tr>
    </tbody>
</table>
