
.box {
    width: 200px !important;
    height: 200px;
    position: relative;
    border: 1px solid black;
    display:inline-block;
    margin: 4% 0 0 7%;
}
    
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    width: 30%;
    height: 30%;
}

