 <div class="flex-container">
   <div routerLinkActive="active" [routerLink]="['/banner']"> Banner </div>
   <div routerLinkActive="active" [routerLink]="['/e-commerce']"> E-commerce</div>
   <div routerLinkActive="active" [routerLink]="['/counter']"> Timer</div>
   <div routerLinkActive="active" [routerLink]="['/updated-counter']"> Updated Timer</div>
   <div routerLinkActive="active" [routerLink]="['/student-table']"> Student Table </div>
   <div routerLinkActive="active" [routerLink]="['/dynamic-layout']"> Dynamic Outlet</div>
 </div>  
<router-outlet></router-outlet> 
